html {
  margin: 0;
}

.neuton {
  font-family: 'Neuton', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.f-huge {
  font-size: 96pt;
  font-weight: bolder;
}

.shadow-6 {
  box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.5);
}

.glow-purple {
  box-shadow: 0px 0px 10px 0 #5e2ca5;
}

a {
  outline: 0;
}

.bg-sky {
  background-color: #75B1A9;
}

.bg-sunglow {
  background-color: #D9B44A;
}

.sunglow {
  color: #D9B44A;
}

.bg-mountains {
  background-color: #4f6457;
}

.mountains {
  color: #4f6457;
}

.bg-mist {
  background-color: #ACD0C0;
}

.h-review {
  min-height: 105px;
}
